body {
  font-family: Exo, Arial, sans-serif;
}

header h1, 
footer p {
  color: #fff;
}

header {
  min-height: 20vh;
  background-color: #8BC34A;
}

footer {
  min-height: 10vh;
  background-color: #2196F3;
}

main h2 {
  margin: 0;
}

main p {
  background-color: silver;
  padding: 20px;
  margin: auto;
}

main .bg h3 {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

